src/main/mule/git-deploy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72d31edb-ab86-4bf3-b1b9-df39efe092fb" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-deployFlow" doc:id="f5474cd5-33c0-48ec-b833-897a948acb64" >
		<http:listener doc:name="Listener" doc:id="c62744a9-d589-45f1-b952-363f404eb0be" config-ref="HTTP_Listener_config" path="/git"/>
		<set-payload value="#['deployes processing']" doc:name="Set Payload" doc:id="7b604bf2-c076-4bc5-9ab0-2c86b86e7a35" />
		<logger level="INFO" doc:name="Logger" doc:id="ec5e8c1e-0885-40b6-9187-251f6c10e5a8" message="#[payload]"/>
	</flow>
</mule>
